.container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}
.item{
    background-color: lightblue;
    border: 2px solid black;
    text-align: center;
}
@media(max-width:768px){
    .container{
        grid-template-columns: 1fr 1fr;
        
    }
}
@media(max-width:480px){
    .container{
        grid-template-columns: 1fr;
    }
}